* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1,h2,h3{
    font-family: forte, Arial, sans-serif;
}
body{
    width: 960px;
    font-family: Arial, sans-serif;
    color: #fcfcfc;
    background-color: #355664;

}
header{
    margin: 8px;
}
header h1 {
    text-align: center;
    font-size: 50px;
    font-weight: 200;
    text-transform: uppercase;
}
header h3 {
    text-align: right;
    font-size: 30px;
    font-weight: 100;
    margin: 10px;
}
nav ul {
    list-style-type: none;
}
nav ul li {
    font-size: 20px;
    margin: 0 8px;
    display: inline-block;
}
main h2 {
    text-transform: uppercase;
    font-size: 25px;
    letter-spacing: 5px;
    font-style: italic;
    text-align: center;
    height: 80px;
    line-height: 80px;
    border-bottom: 2px solid #345461;
    margin-bottom: 5px;
}
main article {
    margin: 10px 20px;
}

article figure {
    margin-left: 5px;
    width: 50%;
}
.heading{
    font-family: forte ,Arial, sans-serif;
}
h1{
    font-size: 50px;
    padding: 10px 0 0 ;
    text-align: center;
}
h2{
    font-size: 40px;
    letter-spacing: 15px;
    text-align: center;
    border-bottom: 3px solid #416371;
    padding-bottom: 20px;
}
h3{
    text-align: right;
    font-size: 30px;
    font-weight: normal;
    margin: 0 0 10px;

}
p{
    line-height: 20px;
    padding-bottom: 5px;
}
p:first-of-type{
    color: #73b45d;
}
figure img{
    width: 500px;
    height: 300px;
    border: none;
}
.article-content{
    margin: 15px 0;
}
nav{
    background-color: #355664;
    padding: 0 5px 0 5px;

}
li{
    display: inline-block;
}
li:first-child a{
    color: #7cb2e6;
    text-transform: lowercase;
    
}
li a[title="sweet tabs"] {
    color: #73b45d;
    text-transform: capitalize;
}
li:last-child a{
    color: white;
    text-transform: uppercase;
}
figure{
    float: right;
    border: 3px solid black;
    border-radius: 6px;
}
footer {
    margin: 10px;
    clear: both;
    text-align: center;
    font-size: 20px;
    border-top: 3px solid black;
}
article{
    background-color: #213e4a;
    border-radius: 10px;
    overflow: auto;

}
